<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a class="navbar-brand educare" routerLink="/">
          <img src="../../../assets/img/logo/educare-logo.svg" alt="Educare Logo">
          EDUCARE
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>About EduCare</h4>
        <p>EduCare is an online learning platform dedicated to providing high-quality educational content to learners worldwide. Our mission is to make learning accessible, engaging, and effective.</p>
      </div>
      <div class="col-md-4">
        <h4>Quick Links</h4>
        <ul class="footer-links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/topics">Topics</a></li>
          <li><a routerLink="/courses">Courses</a></li>
          <li><a routerLink="/instructors">Instructors</a></li>
          <li><a routerLink="#">About Us</a></li>
          <li><a routerLink="/contactUs">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Contact Information</h4>
        <p><i class="fa fa-map-marker"></i> 123 Main Street, City, Country</p>
        <p><i class="fa fa-envelope"></i> info@educare.com</p>
        <p><i class="fa fa-phone"></i> +1234567890</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <hr>
        <p>&copy; 2024 EduCare - All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
