<div class="container">
  <h1>Discussion Forum</h1>
  <hr>
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/instructor" style="color: #7734E7;">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page" style="color: #824bc7;">Discussion forum</li>
    </ol>
  </nav>
  <!-- Search input -->
  <!--
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <input type="text" class="form-control search-input" placeholder="Search by subject, lesson" >
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary">Search</button>
      <button class="btn btn-secondary">Reset</button>
    </div>
  </div>
-->
  <!-- Discussion container -->
  <div *ngIf="messages && messages.length > 0" class="discussion-container">
    <!-- Discussion cards -->
    <div *ngFor="let message of messages" class="discussion card mb-3">
      <div *ngIf="currentUser && currentUser.id === message.authorId" class="discussion-icons">
        <i class="fas fa-trash delete-icon icon" (click)="deleteDiscussion(message.id)"></i>
        <i class="fas fa-edit edit-icon icon" (click)="toggleEditMode(message)"></i>
      </div>
      <div *ngIf="message.editMode; else displaySubject" class="card-header">
        <input type="text" class="form-control" [(ngModel)]="message.subject">
        <button class="btn btn-primary mt-2" (click)="updateDiscussion(message)">Update</button>
      </div>
      <ng-template #displaySubject>
        <div class="card-header">
          <h5 class="card-title">{{ message.subject }}</h5>
        </div>
      </ng-template>

    <div class="card-body">
      <!-- Message content -->
      <div *ngIf="message.messageText" class="discussion-message">
        <div class="discussion-content mb-3">
          <p *ngIf="message.messageText">{{ message.messageText}}</p>
        </div>

        <div class="discussion-content mb-3" *ngIf="message.pdfUrl">
          <div class="content-icon" (click)="toggleContent('pdf')">
            <i class="fas fa-file-pdf content-icon pdf-icon"></i>
          </div>
          <div *ngIf="showPdf" class="pdf-content">
            <a [href]="message.pdfUrl" target="_blank" class="download-link">Download PDF</a>
            <pdf-viewer [src]="message.pdfUrl" [render-text]="true" [original-size]="false"
                        style="width: 500px; height: 300px; display: block; margin: 0 auto;"></pdf-viewer>
          </div>
        </div>

        <!-- Image content -->
        <div class="discussion-content mb-3" *ngIf="message.imageUrl">
          <div class="content-icon" (click)="toggleContent('image')">
            <i class="fas fa-file-image content-icon image-icon"></i>
          </div>
          <div *ngIf="showImage" class="image-content-container">
            <label class="form-label">Image:</label>
            <div class="image-content">
              <img [src]="message.imageUrl" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>

        <!-- Video content -->
        <div class="discussion-content mb-3" *ngIf="message.videoUrl">
          <div class="content-icon" (click)="toggleContent('video')">
            <i class="fas fa-file-video content-icon video-icon "></i>
          </div>
          <div *ngIf="showVideo" class="video-content-container">
            <label class="form-label">Video:</label>
            <div class="video-content">
              <vg-player (onPlayerReady)="onPlayerReady($event)">
                <vg-overlay-play></vg-overlay-play>
                <vg-buffering vgFor="single-video"></vg-buffering>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-controls>
                  <vg-play-pause></vg-play-pause>
                  <vg-playback-button></vg-playback-button>
                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                  <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                  <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                  <vg-track-selector></vg-track-selector>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
                  <vg-fullscreen></vg-fullscreen>
                </vg-controls>
                <video [vgMedia]="$any(media)" #media id="single-video" preload="none" [src]="message.videoUrl" crossorigin>
                </video>
              </vg-player>
            </div>
          </div>
        </div>

        <div class="discussion-content mb-3" *ngIf="message.recordUrl">
          <div class="content-icon" (click)="toggleContent('audio')">
            <i class="fas fa-file-audio content-icon audio-icon"></i>
          </div>
          <div *ngIf="showAudio" class="audio-content-container">
            <label class="form-label">Recorded Audio:</label>
            <div class="audio-content">
              <audio class="audio-content" controls>
                <source [src]="sanitize(message.recordUrl)" type="audio/wav" />
                Your browser does not support the audio element.
              </audio>
              <a [href]="message.recordUrl" download="recorded_audio.wav" class="download-link">Download Audio</a>
            </div>
          </div>
        </div>

        <!-- Icon for toggling answers -->
        <button (click)="toggleAnswers(message)" class="btn btn-sm btn-outline-primary">
          <i class="fas fa-comments"></i> <!-- Font Awesome icon for comments -->
          <span class="comment-count" *ngIf="message?.answers?.length"> {{ message?.answers?.length }}</span>
        </button>

        <!-- Answers section -->
        <div *ngIf="message && message.showAnswers">
          <div *ngIf="message.answers && message.answers.length > 0" class="answers-container">
            <ul class="list-group">
              <li *ngFor="let answer of message.answers" class="list-group-item">
                <p>{{ answer.messageContent }}</p>
                <small class="text-muted">By {{ answer.authorFullName }} on {{ answer.createdAt | date:'medium' }}</small>
                <!-- Icons for the author of the answer -->
                <div *ngIf="currentUser && currentUser.id === answer.authorId" class="answer-icons">
                  <i class="fas fa-trash delete-icon icon" (click)="deleteAnswer(message.id, answer.id)"></i>
                  <i class="fas fa-edit edit-icon icon" (click)="toggleEditAnswer(message.id, answer.id)"></i>
                </div>

                <!-- Update Answer Form -->
                <div *ngIf="showUpdateAnswerInput && selectedDiscussionId === message.id && selectedAnswerId === answer.id" class="update-answer-form">
                  <textarea [(ngModel)]="updatedAnswer.messageContent" class="form-control mb-2" placeholder="Update your answer here..."></textarea>

                  <button (click)="submitUpdatedAnswer(answer.id)" class="btn btn-primary">Update</button>
                </div>
              </li>
            </ul>
          </div>

          <!-- Add Answer Form -->
          <div *ngIf="showAddAnswerInput && selectedDiscussionId === message.id" class="add-answer-form">
            <textarea [(ngModel)]="newAnswer.messageContent" class="form-control mb-2" placeholder="Type your answer here..."></textarea>
            <button (click)="submitAnswer()" class="btn btn-primary">Submit</button>
          </div>

          <button (click)="toggleAddAnswerInput(message.id)" class="btn btn-primary mt-3">Add Answer</button>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Message when no discussions found -->
<div *ngIf="messages.length === 0" class="no-discussions mt-3 text-center">
  <p>No discussions found.</p>
</div>
  <!-- Pagination -->
  <div class="row justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <!-- Previous page -->
        <li class="page-item" [class.disabled]="currentPage === 0">
          <a class="page-link" href="#" (click)="prevPage($event)" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <!-- Page numbers -->
        <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page - 1">
          <a class="page-link" href="#" (click)="changePage(page - 1, $event)">{{ page }}</a>
        </li>
        <!-- Next page -->
        <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
          <a class="page-link" href="#" (click)="nextPage($event)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

<!--
&lt;!&ndash; Add Discussion Button &ndash;&gt;
<div class="row mb-3">
  <div class="col text-center">
    <button class="btn btn-primary" (click)="toggleAddDiscussionForm()">Add Discussion</button>
  </div>
</div>

&lt;!&ndash; Add Discussion Form &ndash;&gt;
<div class="row mt-4" [ngClass]="{ 'd-none': !showAddDiscussionForm }">
  <div class="col">
    <form (submit)="submitDiscussion()">
      <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" class="form-control" id="subject" name="subject" [(ngModel)]="newDiscussion.subject" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Message Type</label>
        <div class="message-type-icons">
          <span class="file-type-icon text" (click)="toggleMessageType('text')">
            <i class="fas fa-file-alt"></i> &lt;!&ndash; Text icon &ndash;&gt;
          </span>
          <span class="file-type-icon pdf" (click)="toggleMessageType('pdf')">
            <i class="fas fa-file-pdf"></i> &lt;!&ndash; PDF icon &ndash;&gt;
          </span>
          <span class="file-type-icon image" (click)="toggleMessageType('image')">
            <i class="fas fa-file-image"></i> &lt;!&ndash; Image icon &ndash;&gt;
          </span>
          <span class="file-type-icon video" (click)="toggleMessageType('video')">
            <i class="fas fa-file-video"></i> &lt;!&ndash; Video icon &ndash;&gt;
          </span>
          <span class="file-type-icon record" (click)="toggleMessageType('audio')">
            <i class="fas fa-file-audio"></i> &lt;!&ndash; Record icon &ndash;&gt;
          </span>
        </div>
      </div>
      <div class="mb-3" *ngIf="showPdfInput">
        <label class="form-label">Attach PDF File</label>
        <input type="file" name="pdfFile" (change)="onFileSelected($event, 'pdfFile')" accept=".pdf">
      </div>
      <div class="mb-3" *ngIf="showImageInput">
        <label class="form-label">Attach Image File</label>
        <input type="file" name="imageFile" (change)="onFileSelected($event, 'imageFile')" accept="image/*">
      </div>
      <div class="mb-3" *ngIf="showVideoInput">
        <label class="form-label">Attach Video File</label>
        <input type="file" name="videoFile" (change)="onFileSelected($event, 'videoFile')" accept="video/*">
      </div>
      <div class="mb-3" *ngIf="showTextInput">
        <label for="text" class="form-label">Message</label>
        <textarea class="form-control" id="text" name="text" rows="4" [(ngModel)]="newDiscussion.message.text" required></textarea>
      </div>
      <div class="mb-3" *ngIf="showRecordInput">
        <label class="form-label">Attach Record File</label>
        <div class="recorder-controls">
          <div class="audio-record" *ngIf="!recording">
            <p class="audio-placeholder" style="color: green;">Click To Start Recording</p>
            <img src="assets/img/record-icon.png" (click)="startRecording()" class="mic-icon" />
          </div>
          <div class="audio-record" *ngIf="recording">
            <p class="audio-placeholder" style="color: red;">Recording...</p>
            <img src="assets/img/record-icon.png" (click)="stopRecording()" class="mic-icon" />
          </div>
        </div>
        <div *ngIf="url" class="audio-preview-container">
          <label class="form-label">Recorded Audio Preview:</label>
          <div class="audio-preview">
            <audio [src]="sanitize(url)" controls class="audio-player"></audio>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn cancel-btn" (click)="cancelDiscussion()">Cancel</button>
    </form>
  </div>
</div>!&#45;&#45;
-->
</div>
