.forgot-password-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #7734E7 0%, rgba(119, 52, 231, 0.35) 100%);
}

.group-7 {
  width: 90%;
  max-width: 500px;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 16px;
}

.group-7 h1 {
  color: #4d008a;
  font-size: 28px;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-error {
  color: #cc0033;
  font-size: 12px;
  margin-top: 5px;
  line-height: 15px;
}

.form-control {
  font-size: 16px;
  padding: 0.5rem;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-control:hover {
  border-color: var(--custom-color);
}

.form-control:focus {
  border-color: var(--custom-color);
  box-shadow: 0 0 0 0.1rem rgba(94, 46, 196, 0.25);
}


.text-center a {
  color: #7734e7;
  text-decoration: none;
  margin-top: 10px;
}

.text-center a:hover {
  color: #4d008a;
  text-decoration: underline;
}
.card-body button[type="submit"] {
    background-color: var(--custom-color);
    border-color: #7734E7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 100%;
}

.group-7 button[type="submit"]:hover {
    background-color: var(--custom-color);
}

@media (max-width: 768px) {
  .group-7 {
    width: 100%;
    padding: 20px;
    border: none;
    box-shadow: none;
  }
}
