<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h1>Reset Your Password</h1>
        </div>
        <div class="card-body">
          <!-- Image -->
          <div class="text-center mb-4">
            <img src="assets/forgot-password/forgot-password-1.jpg" alt="Forgot Password Image" class="img-fluid rounded-circle" style="width: 250px; height: 250px;">
          </div>

          <!-- Email Check Form -->
            <form (ngSubmit)="onSubmit()" *ngIf="!emailVerified && !changePasswordFormSubmitted">
              <div class="form-group">
                <label for="email">Enter your email:</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
              </div>
              <button type="submit" class="btn btn-primary">Check Email</button>
            </form>

          <!-- Verification Code Form -->
          <form (ngSubmit)="verifyCode()" *ngIf="emailVerified && !changePasswordFormSubmitted">
            <div class="form-group">
              <label for="verificationCode">Enter verification code sent to your email:</label>
              <input type="text" class="form-control" id="verificationCode" name="verificationCode" [(ngModel)]="verificationCode" required>
            </div>
            <button type="submit" class="btn btn-primary">Verify Code</button>
          </form>

          <!-- Change Password Form -->
          <ng-container *ngIf="changePasswordFormSubmitted">
            <form (ngSubmit)="onChangePassword()" [formGroup]="passwordForm">
              <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
                <div *ngIf="f['newPassword'].errors && (f['newPassword'].dirty || f['newPassword'].touched)" class="form-error">
                  <div *ngIf="f['newPassword'].errors?.['required']" class="form-error">* New Password is required.</div>
                  <div *ngIf="f['newPassword'].errors?.['minlength']" class="form-error">New Password must be at least 6 characters</div>
                  <div *ngIf="f['newPassword'].errors?.['maxlength']" class="form-error">New Password cannot exceed 16 characters</div>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmationPassword">Confirm Password:</label>
                <input type="password" class="form-control" id="confirmationPassword" formControlName="confirmationPassword">
                <div *ngIf="f['confirmationPassword'].errors && (f['confirmationPassword'].dirty || f['confirmationPassword'].touched)" class="form-error">
                  <div *ngIf="f['confirmationPassword'].errors?.['required']" class="form-error">* Confirm Password is required.</div>
                  <div *ngIf="f['confirmationPassword'].errors?.['passwordMismatch']" class="form-error">Passwords do not match</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
          </ng-container>

          <!-- Link to Login Page -->
          <div class="text-center mt-3">
            <p>Remember your password? <a routerLink="/login">Login here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
