<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <!-- Clickable logo -->
        <a class="navbar-brand educare" (click)="redirectToDashboard()">
          <img src="../../../assets/img/logo/educare-logo.svg" alt="Educare Logo">
          EduCare
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>About EduCare</h4>
        <p>EduCare is a cutting-edge online learning platform committed to delivering premium educational content to global learners. Our primary objective is to enhance learning accessibility, engagement, and efficacy.</p>
      </div>
      <div class="col-md-4">
        <h4>Useful Links</h4>
        <ul class="footer-links">
          <li><a routerLink="/admin">Home</a></li>
          <li><a routerLink="/topics">Topics</a></li>
          <li><a routerLink="/courses">Courses</a></li>
          <li><a routerLink="/instructors">Instructors</a></li>
          <li><a routerLink="#">About Us</a></li>
          <li><a routerLink="/contactUs">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Contact Details</h4>
        <p><i class="fa fa-map-marker"></i> 123 Main Street, City, Country</p>
        <p><i class="fa fa-envelope"></i> info@educare.com</p>
        <p><i class="fa fa-phone"></i> +1234567890</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <hr>
        <p>&copy; 2024 EduCare - All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
